build/
test/
linux/
web/
macos/
windows/
ios/
.dart_tool/*
assets/credentials.json
assets/keys/
.flutter-plugins-dependencies
.flutter-plugins-dependencies
.gitignore
pubspec.yaml
.dart_tool/package_config_subset
.dart_tool/package_config.json
.dart_tool/version
.dart_tool/flutter_build/a32036beb7b9c9649bd3d2364870b2bc/app.dill
.dart_tool/flutter_build/a32036beb7b9c9649bd3d2364870b2bc/debug_android_application.stamp
.dart_tool/flutter_build/a32036beb7b9c9649bd3d2364870b2bc/flutter_assets.d
.dart_tool/flutter_build/a32036beb7b9c9649bd3d2364870b2bc/gen_dart_plugin_registrant.stamp
.dart_tool/flutter_build/a32036beb7b9c9649bd3d2364870b2bc/gen_localizations.stamp
.dart_tool/flutter_build/a32036beb7b9c9649bd3d2364870b2bc/kernel_snapshot.d
.dart_tool/flutter_build/a32036beb7b9c9649bd3d2364870b2bc/kernel_snapshot.stamp
.dart_tool/flutter_build/a32036beb7b9c9649bd3d2364870b2bc/outputs.json
